* {
    text-align: center;
}
body {
    background-image: url("https://images.unsplash.com/photo-1523731967407-ffc703fed1d1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd8c33b333157f167e5ddea02af9c20&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    height: 2px;
    background-color: darkblue;
    color: black;
}

li {
    display: inline;
    padding: 5px;
}

h1 {
    font-family: "Alex Brush";
    color: white;
}

.header {
    font-size: 30px;
    text-shadow: 1px 2px 2px black;
}

.link-container {
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
}

.link {
    font-size: 25px;
}

.feature {
    background-color: lightgray;
    color: rgb(5, 5, 15);
    height: 100px;
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.item {
    background: rgba(211, 211, 211, 0.911);
    border-radius: 5%;
    padding: 5px;
    width: 450px;
    height: auto;
    margin-top: 20px;
    line-height: 30px;
    color: black;
    text-align: center;
}

.item-title {
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1px 2px 2px rgb(68, 68, 231);
}

.item-info {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.page-link {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.name-link {
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.staff-names {
    font-weight: 200;
    font-size: 20px;
}

.contact-info {
}
